<h1>{{title}} API</h1>
<ul>
    <li><a href="/users">/users</a></li>
    <li><a href="/users/jack">/users/:username</a> (i.e. /users/jack)</li>
    <li><a href="/search/yuet">/search/yuet</a></li>
</ul>
