<h1>{{title}} API</h1>

<a
  id="login-button"
  href="/login"
>
  <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.1920.png"/>
</a>
<ul>
  <li><a href="/users">/users</a></li>
  <li><a href="/search/yuet">/search/:username</a></li>
  <li><a href="/ballots/?voter=ricmoo">/ballots?voter=:username</a> (i.e. /ballots?voter=ricmoo)</li>
</ul>

<form action="/tweet" method="post">
  <label for="message">Tweet message:</label>
  <input type="text" id="message" name="message">
  <input type="submit">
</form>

<form action="/optout" method="post">
  <label>Opt out?</label>
  <input type="submit">
</form>

<form action="/ballots" method="post">
  <label>Vote</label>
  <input type="text" id="candidate" name="candidate" value="ricmoo" placeholder="candidate">
  <input type="number" id="score" name="score" value="1" placeholder="score">
  <input type="submit">
</form>