<h1>{{title}} API</h1>

<a
  id="login-button"
  href="/login"
>

  <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.1920.png"/>
</a>
<ul>
  <li><a href="/users">/users</a></li>
  <li><a href="/users/jack">/users/:username</a> (i.e. /users/jack)</li>
  <li><a href="/search/yuet">/search/:username</a></li>
</ul>
